<div class="section-2" data-parallax="scroll" speed="1.0" data-image-src="assets/img/bg2.png">
  <div class="container">
      <div class="row middle">
          <p class="paragraph-1 light">Inside Demo</p>
          <h2 class="section-heading light">A Robust Data-Storage Protocol</h2>
          <div class="row-art">
              <div class="col-md-12">
                  <div class="pt-4 pb-4 px-5 art-case left-art">
                      <h3 class="light heading-3">Robust, Redundant Data Storage</h3>
                      <p class="paragraph-2 light">
                          Files uploaded via Demo are stored on the IOTA Tangle. This means that an excess of redundant duplicates are stored throughout the network topology of the Tangle, therefore mitigating the threat of data loss. Nodes running the Demo Protocol perform Proof of Work to guarantee that the Tangle retains the data.
                      </p>
                      <div class="right-img">
                          <img src="assets/img/anchor-icon.png" width="140" class="screenshot">
                      </div>
                  </div>
              </div>
          </div>
          <div class="row-art">
              <div class="col-md-12">
                  <div class="pt-4 pb-4 pl-5 pr-4 art-case right-art">
                      <div class="left-img">
                          <img src="assets/img/ledger-icon.png" width="120" class="screenshot">
                      </div>                         
                      <h3 class="light heading-3">Dual Ledger Integration</h3>
                      <p class="paragraph-2 light">
                          The IOTA Tangle (Directed Acyclic Graph) is used for data retention and Proof of Work negotiation between Nodes. The Smart Contract technology of the Ethereum Blockchain is used to produce Demo Pearls (the token), therefore activating the unique token attributes that enables Demo operation.
                      </p>
                  </div>
              </div>
          </div>
          <div class="row-art">
              <div class="col-md-12">
                  <div class="pt-4 pb-4 px-5 art-case left-art">
                      <h3 class="light heading-3">Treasure Hunting Algorithm</h3>
                      <p class="paragraph-2 light">
                          Demo Web Nodes perform Proof of Work to search for embedded Pearls on the Tangle, which inadvertently commits the user uploaded data to the Tangle. It's like how a bee tries to get the sweet nectar of a flower, so it inadvertently pollinates the flower with the pollen on its body. All activity across the Demo network is economically motivated; no aspect of the Protocol relies on altruistic actors.
                      </p>
                      <div class="right-img">
                          <img src="assets/img/treasure-icon.png" width="120" class="screenshot">
                      </div>
                  </div>
              </div>
          </div>
          <div class="row-art">
              <div class="col-md-12">
                  <div class="pt-4 pb-4 pr-4 art-case right-art">
                      <div class="left-img">
                          <img src="assets/img/ZeroKnowledge_icon.png" width="150" class="screenshot">
                      </div>
                      <h3 class="light heading-3">Zero Knowledge, Anonymous Storage</h3>
                      <p class="paragraph-2 light">
                          No personal information, usernames, nor passwords are ever used. Each uploaded file is assigned a unique handle, which acts like a private seed key. Anyone that has the handle can retrieve the data from the Tangle, even if they were to use their own custom-built script and Tangle Node. Mixer contracts on the Ethereum Blockchain can conceal who paid for the storage.
                      </p>
                  </div>
              </div>
          </div>
          <div class="row-art">
              <div class="col-md-12">
                  <div class="pt-4 pb-4 px-5 art-case left-art">
                      <h3 class="light heading-3">Open Source, Extendable, & Auditable</h3>
                      <p class="paragraph-2 light">
                          The Demo Protocol is developed in a community driven model without any single point of failure. Extension projects can be built on top of the mesh-net topology and protocol API. This enables a whole class of truly decentralized applications to be built; such as decentralized telephone calling. Anyone is able to develop clients or extensions without permission from a central figurehead.
                      </p>
                      <div class="right-img">
                          <img src="assets/img/ship-icon.png" width="150" class="screenshot">
                      </div>
                  </div>
              </div>
          </div>
          <div class="row-art">
              <div class="col-md-12">
                  <div class="pt-4 pb-4 pr-4 art-case right-art">
                      <h3 class="light heading-3">Intrinsic Storage-Pegged Value</h3>
                      <p class="paragraph-2 light">
                          Demo Pearls are the bridge between the motivation of a user to spend money on reliably storing data and the motivation of a website owner to cleanly monetize their web content. The Pearl Token (PRL) is unlike any other coin, it is intrinsically pegged to the market value of storage prices without requiring a reserve to back it up. Overtime PRL's peg to storage increases.
                      </p>
                      <div class="left-img">
                          <img src="assets/img/perl-icon.png" width="150" class="screenshot">
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
