<div class="section-1">
  <div class="container">
      <div class="row middle">
          <p class="paragraph-1">THE PROBLEM</p>
          <h2 class="section-heading">Yet another coin</h2>
          <img src="assets/img/problem.png" width="240" />
          <div class="text-block">
              Advertisements have always been a fundamentally weak proposition. They are intrusive, tangential, privacy invasive, and distract from the cleanliness of a website.<br><br>Making matters worse, creative content publishers are suffering due to the advent of ad blockers and a general disregard to what advertisements have to offer.
          </div>
      </div>
  </div>
</div>
<div class="section-1">
  <div class="container">
      <div class="row middle">
          <p class="paragraph-1">The SOLUTION: RADIANCE</p>
          <h2 class="section-heading">A demo coin for you</h2>
          <img class="code" src="assets/img/Code.png" />
          <div class="text-block">
                  Website visitors contribute a small portion of their CPU and GPU power to enable users' files to be stored on a decentralized and anonymous ledger.<br><br>In return, the website owners get paid indirectly by the storage users and website visitors can enjoy an ad-free browsing experience.
          </div>
      </div>
  </div>
</div>