
            <div class="section-5" id="core-team">
              <div class="container">
                  <div class="blue-head" data-parallax="scroll" data-position="left" data-bleed="10" data-image-src="assets/img/bg3.png"></div>
                  <h2 class="section-heading light">Core Team</h2>
                  <div class="row middle">
                      <div class="col-lg-4">
                          <div class="team">
                              <div class="team-avatar">
                                  <img src="https://avatars1.githubusercontent.com/u/3894104?s=400&v=4" />
                              </div>
                              <p class="team-name">Hilal</p>
                              <p class="team-title">CEO / Chief Architect</p>
                              <div class="team-content"></div>
                              <div class="team-socialIcon">
                                  <a href="mailto:hilalh@noreply.github.com"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                                  <a href="https://github.com/hilalh" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-4">
                          <div class="team">
                              <div class="team-avatar">
                                  <img src="https://avatars0.githubusercontent.com/u/12803426?s=400&u=110185bc4f52d81718fd94350bc63293fbb18bb0&v=4" />
                              </div>
                              <p class="team-name">Khalil</p>
                              <p class="team-title">Communications & Design</p>
                              <div class="team-content"></div>    
                              <div class="team-socialIcon">
                                  <a href="mailto:Khalil2696@noreply.github.com"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                                  <a href="https://www.linkedin.com/in/khalil-habashi-358286114/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                  <a href="https://github.com/Khalil2696" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-4">
                          <div class="team">
                              <div class="team-avatar">
                                  <img src="https://media-exp2.licdn.com/media/AAEAAQAAAAAAAAzUAAAAJDEwYjk2ZjJmLTFkNTItNDIyNC1hYTEzLTY3YmM1M2NlODgyMQ.jpg" />
                              </div>
                              <p class="team-name">Michal</p>
                              <p class="team-title">Finance & Operations</p>
                              <div class="team-content"></div>    
                              <div class="team-socialIcon">
                                  <a href="https://www.linkedin.com/in/michal-cymbalisty-33b7a612b/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div> 
          </div>