<div class="section-6" id="token">
  <div class="container">
      <p>The Token</p>
      <h2>Demo Coin (OPM)</h2>
      <img class="token-img" src="assets/img/perl-large.png" />
      <p class="token-content">
          Demo is yet another P2P project. OPM is its main token
      </p>
      <div class="token-coin">
          <script type="text/javascript" src="https://files.coinmarketcap.com/static/widget/currency.js" async></script><div class="coinmarketcap-currency-widget" data-currency="oyster-pearl" data-base="USD" data-secondary="" data-ticker="true" data-rank="true" data-marketcap="true" data-volume="true" data-stats="USD" data-statsticker="false"></div>
      </div>
      <div class="token-border"></div>
      <div class="row middle">
          <p>Available on Exchanges</p>
          <a href="https://etherdelta.com/#PRL-ETH" target="_blank"><img src="assets/img/etherdelta.png" /></a>
          <a href="https://www.kucoin.com/#/trade.pro/PRL-BTC" target="_blank"><img src="assets/img/kucoin.png" /></a>
          <a href="https://www.coinexchange.io/market/PRL/BTC" target="_blank"><img src="assets/img/coinexchange.png" /></a>
          <a href="https://www.cryptopia.co.nz/Exchange/?market=PRL_BTC" target="_blank"><img src="assets/img/cryptopia-fade.png" /></a>
      </div>
  </div>
</div>
</div>