<div class="section-4">
  <div class="container">
      <h2>Our Values</h2>
      <div class="row middle">
          <div class="col-lg-4">
              <div class="value">
                  <div class="value-avatar">
                      <img src="assets/img/value-1.png" />
                  </div>
                  <p class="value-title">Protocol-Centric Development</p>
                  <div class="value-border"></div>
                  <div class="value-content">
                      When projects are people-centric, they're prone to having a bad day when the people do. Demo distinguishes itself from other projects by having a fully specified protocol definition in the whitepaper.<br />
                      Demo engages development within the ethics of decentralization, therefore progress can be made by anyone if it conforms with protocol specifications.
                  </div>
              </div>
          </div>
          <div class="col-lg-4">
              <div class="value">
                  <div class="value-avatar">
                      <img src="assets/img/value-2.png" />
                  </div>
                  <p class="value-title">Accessible Decentralization</p>
                  <div class="value-border"></div>
                  <div class="value-content">
                          Demo lays the foundations for the next decentralized web. Web Nodes (website visitors) gradually peer with each other as they hunt for Demo Pearls (PRL). Because they favour low-latency connections with nearby neighbors, the Demo network becomes a performance-optimized mesh-net. Since web nodes operate fully on JavaScript, Demo offers developers access to a decentralized network via a common programming language.
                  </div>
              </div>
          </div>
          <div class="col-lg-4">
              <div class="value">
                  <div class="value-avatar">
                      <img src="assets/img/value-3.png" />
                  </div>
                  <p class="value-title">Accessible Anywhere</p>
                  <div class="value-border"></div>
                  <div class="value-content">
                      Demo is a protocol for storing data on the IOTA Tangle. All someone needs to retrieve their data is connectivity to the Tangle and any software client that conforms with the Demo Protocol. Connectivity to the Tangle does not require any centralized portal or gateway; therefore Demo is fully decentralized with very low counterparty risk.
                  </div>
              </div>
          </div>
      </div>
  </div> 
</div>