<div class="footer">
  <div class="container">
      <img src="assets/img/perl-middle.png" />
      <div class="footer-border"></div>
      <div class="footer-menu">
          <div class="row middle">
              <a href="https://github.com/oysterprotocol" target="_blank">GITHUB</a>
              <a href="https://oyster.ws/OysterWhitepaper.pdf" target="_blank" class="footer-link">WHITEPAPER</a>
              <a href="assets/img/oyster-roadmap-v2.jpg" target="_blank" class="footer-link">ROADMAP</a>
              <a href="https://t.me/oysterprotocol" target="_blank" class="footer-link">TELEGRAM</a>
              <a href="https://www.reddit.com/r/oyster/" target="_blank" class="footer-link">REDDIT</a>
              <a href="https://medium.com/oysterprotocol" target="_blank" class="footer-link">BLOG</a>
              <a href="https://twitter.com/OysterProtocol" target="_blank" class="footer-link">TWITTER</a>
              <a href="mailto:contact@oyster.ws" class="footer-link">CONTACT@DEMO.COIN</a>
          </div>
      </div>
  </div>
</div>