<div class="header h-50 parallax-container" data-parallax="scroll" data-position="left" data-bleed="10" data-image-src="assets/img/bg1.png">
  <div class="container">
      <div class="row">
          <div class="col-lg-6">
              <div class="subContent">
                  <h1 class="header-title">Goodbye Banner Ads.<br />Hello Demo.</h1>
                  <p class="header-content">The future of website monetization and distributed storage, built on IOTA Tangle and Ethereum.</p>
                  <a target="_blank" href="https://oyster.ws/OysterWhitepaper.pdf" class="btn btn-lg whitepaper">Read the Whitepaper</a>
              </div>
          </div>
          <div class="col-lg-6">
              <div class="subContent video">
                  <iframe class="embedly-embed" src="https://player.vimeo.com/video/239320938" scrolling="no" frameborder="0" allowfullscreen=""></iframe>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="px-0 containers container-fulid">