<div class="partner">
  <div class="mx-0 row middle">
      <a href="https://www.huffingtonpost.com/entry/the-downside-of-cloud-storage_us_5a52342fe4b0cd114bdb3447" target="_blank"><img src="assets/img/HUFFPOST-icon.png" /></a>
      <a href="http://www.tgdaily.com/technology/data-storage-issues" target="_blank"><img src="assets/img/TGDaily-icon.png" /></a>
      <a href="https://www.coinspeaker.com/2017/10/26/disruptive-blockchain-technology-targets-cloud-advertisement-industries/" target="_blank"><img src="assets/img/Coinspeaker-icon.png" /></a>
      <a href="https://www.cryptocoinsnews.com/solving-advertisement-cloud-concerns-unified-solution/" target="_blank"><img src="assets/img/cryptocoins-icon.png" /></a>
      <a href="http://www.thedrum.com/profile/news/274738/online-advertising-problems-and-how-fix-them" target="_blank"><img src="assets/img/THEDAUM-icon.png" /></a>
      <a href="http://bitguru.co.uk/take-a-look-at-oyster-powered-by-the-iota-tangle/" target="_blank"><img src="assets/img/bitGuru-icon.png" /></a>
      <a href="http://www.newsbtc.com/2017/10/21/anonymous-storage-ledger-disrupt-ad-industry/" target="_blank"><img src="assets/img/newsbtc-icon.png" /></a>
      <a href="https://article.wn.com/view/2017/10/26/The_Data_on_the_internet_is_not_Protected" target="_blank"><img src="assets/img/wn-icon.png" /></a>
      <a href="https://blog.icoalert.com/ico-alert-report-oyster-ffda53924db6" target="_blank"><img src="assets/img/ICOALERT-icon.png" /></a>
  </div>
</div>